In [2]:
a= "hello world"

In [3]:
print(len(a))

11

In [4]:
#access of element
b= "hello, world"

In [5]:
#slicing
print(b[1:5])

ello

In [6]:
print(b[:10])

hello, wor

In [7]:
#negative indexing
print(b[-3:-1])

rl

In [7]:
a="hello"
print(a.upper())

NameError: name 'h' is not defined

In [ ]:
#modify strings

In [9]:
a= 'hello world'
print(a.upper())

HELLO WORLD

In [10]:
print(a.lower())

hello world

In [12]:
#strip = revomes extra wide space
x = " hello world "
print(x.strip())

hello world

In [13]:
#string concatenation = to join two or more string together.
a = 'hello'
b= 'world'
c= a+b
print(c)

helloworld

In [15]:
c = a + " " + b
print(c)

hello world

In [19]:
# format method = method used to combine string and integers
age = 22
b= 'my name harshita, and i am {}'
print(b.format(age))

my name harshita, and i am 22

In [20]:
prize1 = 456
prize2 = 334
bill = "the prize of tomato is {},and prinze of potato is {}"
print(bill.format(prize1,prize2))

the prize of tomato is 456,and prinze of potato is 334

In [24]:
#escape = used to insert a character you want with the help of \\
txt = 'we are \"indian\" from earth'
print(txt)

we are "indian" from earth

In [7]:
#count
x = "my name is harshita,harshita is my name"
y = x.count("harshita")
print(y)

2

In [8]:
#find
z = x.find("name")
print(z)

3

In [9]:
y = x.find('kasana')
print(y)

-1

In [10]:
y = x.find('name')
print(y)

3

In [11]:
l = x.find("e")
print(l)

6

In [14]:
z =x.find("a",5,13)
print(z)

12

In [16]:
#index
text = "everything is magic."
x = text.index("magic")
print(x)

14

In [17]:
y = text.index("nothing")
print(y)

ValueError: substring not found

In [18]:
h = text.index(" ")
print(h)

10

In [21]:
#join
my_code = ("harshita" , "khushi", "kakul")
x = "+".join(my_code)
print(x)

harshita+khushi+kakul

In [24]:
#replace
txt= "i like something called mangoes"
x = txt.replace("mangoes","kiwi")
print(x)

i like something called kiwi

In [25]:
#partition
x = txt.partition("something")
print(x)

('i like ', 'something', ' called mangoes')

In [31]:
#split
hi = "someone is going to market"
y = hi.split()
print(y)

['someone', 'is', 'going', 'to', 'market']

In [35]:
hi = "someone is going to market"
y = hi.split(" , " )
print(y)

['someone is going to market']

In [19]:
#Dictionary
student_dict = {"name" : "Harshita", "Gender" : "Female", "Status" : "Pass"}
student_dict.values()

dict_values(['Harshita', 'Female', 'Pass'])

In [4]:
student_dict.keys()

dict_keys(['name', 'Gender', 'Status'])

In [6]:
student_dict["year"] = 2025
print (student_dict)

{'name': 'Harshita', 'Gender': 'Female', 'Status': 'Pass', 'year': 2025}

In [7]:
D3 = {"name" : "abc" ," year" : "2023", "pass" : "True" , "Marks" : [30,35,40]} #values in dictionary can be of any datatype
print(D3)

{'name': 'abc', ' year': '2023', 'pass': 'True', 'Marks': [30, 35, 40]}

In [15]:
D3.update({"class": 12}) #update is used to add key and value or change the existing value
print(D3)

{'name': 'abc', ' year': '2023', 'pass': 'True', 'Marks': [30, 35, 40], 'class': 12}

In [18]:
D3.update({"class" : 11})
print(D3)

{'name': 'abc', ' year': '2023', 'pass': 'True', 'Marks': [30, 35, 40], 'class': 11}

In [21]:
D3.update({'phnone No' : 9999990000})

In [22]:
something = {"what is your name " : 'Harshita'}
print(something)

{'what is your name ': 'Harshita'}

In [26]:
info = {"Name" : "abc",
        "class":11,
        "roll no." : 22}
print(info)

{'Name': 'abc', 'class': 11, 'roll no.': 22}

In [29]:
info.update({'status' : "Pass"})
print(info)

{'Name': 'abc', 'class': 11, 'roll no.': 22, 'status': 'Pass'}

In [35]:
info.pop("Name")

'abc'

In [15]:
#copy
d3 = {"name" : "A", "year": 2023,"pass": "True", "Marks" : [50,34,67]}
d4 = d3.copy()
print(d4)

{'name': 'A', 'year': 2023, 'pass': 'True', 'Marks': [50, 34, 67]}

In [12]:
d3.clear()
print(d3)

{}

In [14]:
del d4
print(d4)

NameError: name 'd4' is not defined

In [25]:
#nested dictionary ( dictionary within dictionary)
Family = {
    "student 1": {
        "name": "harshita",
        "year": 2007},
    "student 2" :{
      "name": "hanshika",
       "year": 2005 }
        }

In [26]:
print(Family)

{'student 1': {'name': 'harshita', 'year': 2007}, 'student 2': {'name': 'hanshika', 'year': 2005}}

In [29]:
print(Family["student 1"]["name"])

harshita

In [33]:
print(Family["student 2"]["name"])

hanshika

In [32]:
print( Family["student 2"]["year"] )

2005

In [34]:
#Set () this bracket is used, no duplicate values are kept, can be printed in sequential value or not in sequence 
s1 = (3,4,5,6,"a","b")
print(s1)

(3, 4, 5, 6, 'a', 'b')

In [39]:
#Union,it joins two sets.
set1 = {1,2,3}
set2 = {4,5,7}
set3 = set2.union(set1)
print(set3)

{1, 2, 3, 4, 5, 7}

In [41]:
# | (pipeline method)
set1 = {5,8,9,0}
set2 = {8,7,0,9}
set3 = set2|(set1)
print(set3)

{0, 5, 7, 8, 9}

In [42]:
# intersection method
set1 = {5,8,9,0}
set2 = {3,2,0,9}
set3 = set1.intersection(set2)
print(set3)

{0, 9}

In [43]:
# & operator
set1 = {5,8,9,0}
set2 = {3,2,0,9}
set3 = set1 & set2
print(set3)

{0, 9}

In [44]:
set1 = {5,8,9,0}
set2 = {3,2,0,9}
set3 = set2.difference(set1)
print(set3)

{2, 3}

In [ ]:
# Conditional statement 
#if 
#else
#elif

In [1]:
age = 34
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [3]:
age = 12
if age>=18:
    print("eligible to vote")
else :
    print("not eligible to vote")

not eligible to vote

In [8]:
height = 154
if height<160:
   print("small height")
elif height== 160:
   print("normal height")
else:
   print("tall")

small height

In [9]:
number = int(input("write your number: "))
if (number%2)== 0:
    print("its an even number")
else:
    print("its an odd number")

write your number:  5

its an odd number

In [12]:
number = int(input("write your number: "))
if (number%2)== 0:
    print("its an even number")
else:
    print("its an odd number")

write your number:  28

its an even number

In [20]:
marks = int(input("enter your marks: "))
if marks>90:
    print("your grade is A+")
elif marks>= 80:
    print("your grade is A")
elif marks>= 70:
    print("your grade is B+")
elif marks>= 50:
    print("your grade is B")
else:
    print("your grade is very low to be considered,better luck next time.")

enter your marks:  35

your grade are very low to be considered,better luck next time.

In [6]:
number = int(input("enter your name: "))
if number>0:
 print("your number is positive")
elif number<0:
  print("your number is negative")
else:
    print("null value")

enter your name:  55

your number is positive

In [9]:
number = int(input("enter your number: :"))
if number== 9:
  print("you are lucky you won the lottery")
elif number==6:
    print("you are at second position")
elif number==4:
    print("you are at third position")
else:
   print("better luck next time")

enter your number: : 4

you are at third position

In [10]:
number = float(input("enter your name: "))
if number>0:
 print("your number is positive")
elif number<0:
  print("your number is negative")
else:
    print("null value")

enter your name:  -3.5

your number is negative