In [1]:
#functions

In [2]:
a=4
b=6
gmean =(a*b)/(a+b)
print(gmean)

2.4

In [3]:
def Gmean(a,b):
    mean=(a*b)/(a+b)
    print(mean)

In [5]:
a=int(input("enter your value:"))
b=int(input("enter second value:"))
Gmean(a,b)

enter your value: 5
enter second value: 6

2.727272727272727

In [8]:
a=9
b=6
if a>b:
    print("first is greater")
else:
    print("last is greater")
Gmean(a,b)

first is greater
3.6

In [10]:
def is_greater(a,b):
    if a>b:
      print("first is greater")
    else:
      print("last is greater")

In [11]:
a=10
b=26
is_greater(a,b)
Gmean(a,b)

last is greater
7.222222222222222

In [18]:
sum=0
def avg(*numbers):
  for i in numbers:
      sum=sum+i
  print("the average is",sum/len(numbers))

In [1]:
sports =['volleyball','football','badminton','tennis']
sports[2]

'badminton'

In [2]:
sports[::-1]

['tennis', 'badminton', 'football', 'volleyball']

In [3]:
sports[-3:-1]

['football', 'badminton']

In [5]:
sports.append("cricket")

In [10]:
print(sports)

['volleyball', 'football', 'kho kho', 'badminton', 'tennis', 'cricket', 'ball', 'net', 'pen']

In [7]:
sports.insert(2,"kho kho")

In [9]:
material=['ball','net',"pen"]
sports.extend(material)

In [11]:
students = ['harshita','mehar','himanshi','manav','anup','haadiya']
teachers = ['nitish','dheeraj','gaurav','abhishek','khem']

In [12]:
students.remove("himanshi")

In [16]:
print(students)

['harshita', 'mehar', 'manav', 'haadiya']

In [15]:
students.pop(3)

'anup'

In [18]:
del students()

SyntaxError: cannot delete function call (2171559648.py, line 1)

In [19]:
print(max(students))
print(min(students))

mehar
haadiya

In [20]:
l2=[]
l2=teachers.copy()

In [21]:
print(l2)

['nitish', 'dheeraj', 'gaurav', 'abhishek', 'khem']

In [22]:
kasana =("a",1,3,4,5)

In [23]:
ha = list(kasana)

In [24]:
ha.append("k")

In [25]:
ha.insert(2,9)

In [26]:
ha.remove("a")

In [27]:
ha.pop(5)

'k'

In [28]:
print(max(ha))

9

In [29]:
print(min(ha))

1

In [31]:
l3 = []
l3 = ha.copy()

In [32]:
kasana = tuple(ha)

In [33]:
print(kasana)

(1, 9, 3, 4, 5)

In [35]:
t1=(5,5,4,2)
t3=(1,5,4,2)
t2 = t1+t3
print(t2)

(5, 5, 4, 2, 1, 5, 4, 2)

In [36]:
n = 5
for i in range(1, n+1):
    print("*" * i)

*
**
***
****
*****

In [40]:
n=5
for i in range(1,1+n):
    print("*"*i)

*
**
***
****
*****

In [42]:
n=5
for i in range(1,1+n):
    print("*" * i)

*
**
***
****
*****

In [ ]:
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

In [2]:
#for loop
name= "harshita"
for i in name:
    print(i)
    if i=="a":
        print("yoo we found a!!")

h
a
yoo we found a!!
r
s
h
i
t
a
yoo we found a!!

In [5]:
colors =["red","yellow","blue"]
for i in colors:
    print(i)
    for color in i:
        print(color)

red
r
e
d
yellow
y
e
l
l
o
w
blue
b
l
u
e

In [7]:
for k in range(0,7):
    print(k+1)

1
2
3
4
5
6
7

In [8]:
for k in range(0,10,2):
    print(k)

0
2
4
6
8

In [10]:
for i in range (0,10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range (10,0):
    if i%2==0:
        print(i)

In [21]:
for i in range (1,50):
    if i%2==0:
     print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [23]:
for i in range(0,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [24]:
n=int(input("enter your number:"))
for i in range(0,11):
    print(n*i)

enter your number: 2

0
2
4
6
8
10
12
14
16
18
20

In [28]:
n=int(input("enter your number:"))
total=0
for i in range(1,n+1):
    total=total+i
print("sum=",total)

enter your number: 14

sum= 105

In [38]:
n=int(input("enter your number:"))
total=0
for i in range (1,n+1):
    if i%2==0:
        total=total+i
print("sum of even number=",total)

enter your number: 20

sum of even number= 110

In [39]:
n=int(input("enter your number:"))
total=0
for i in range(1,n+1):
    if i%2!=0:
        total=total+i
print(total)

enter your number: 20

100

In [41]:
n=int(input("enter your number:"))
factorial=1
for i in range(1,n+1):
    factorial*=i
print(factorial)

enter your number: 8

40320

In [42]:
n=int(input("enter your number:"))
factorial=1
for i in range(1,n+1):
    factorial*=i
print(factorial)

enter your number: 9

362880

In [44]:
n=45679
count=0
for i in str(n):
    count+=1
print("total number of digits:",count)

total number of digits: 5

In [55]:
n=int(input("enter your number:"))
count=0
for i in str(n):
    count+=1
    
print("total number of digits :",count)

enter your number: 555

total number of digits : 3

In [54]:
n=int(input("enter your number:"))
sum=0
while n>0:
    digit=n%10
    sum+=digit
    n=n//10
print("total  of digits :",sum)

enter your number: 2536

total  of digits : 16

In [76]:
x=int(input("enter your number:"))
temp=x
sum=0
n=len(str(x))
while temp>0:
    digit= temp%10
    sum+=digit**n
    temp//=10
if sum==x:
    print("armsstrong")
else:
    print("not an armstrong")

enter your number: 371

armsstrong

In [63]:
x=input("enter your number/word:")
x=x.lower()
if x==x[::-1]:
    print("its a palindrome")
else:
    print("not a palindrome")

enter your number/word: 252

its a palindrome

In [65]:
x=input("enter your num/word:")
x=x.lower()
if x==x[::-1]:
    print("yayy a palindrome")
else:
    print("oops not a palindrome")

enter your num/word: 52658

oops not a palindrome

In [69]:
x=input("enter your number:")
x=x.lower()
if x==x[::-1]:
    print("yaaayyy palindrome")
else:
    print("ohhh noo not aaa palindrome")

enter your number: 365

ohhh noo not aaa palindrome

In [74]:
x=int(input("enter your number:"))
temp=x
sum=0
n=len(str(x))
while temp>0:
    digits=temp%10
    sum+=digits**n
    temp//=10
if sum==x:
    print("armstrong")
else:
    print("not an armstorng")

enter your number: 371

armstrong

In [77]:
n = int(input("Enter a number: "))

if n <= 1:
    print("Not a prime number")
else:
    for i in range(2, n):
        if n % i == 0:
            print("Not a prime number")
            break
    else:
        print("Prime number")

Enter a number:  11

Prime number

In [9]:
n= int(input("enter your number:"))
a,b=0,1
for i in range(n):
       print(a,end=" ")
       a,b=b,a+b

enter your number: 45

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733

n= int(input(" enter your number:"))
a,b=0,1
for i in range (n):
    print(a,end=" ")
    a,b=b,a+b

In [14]:
def factorial(n):
    if n<0:
        return ("factorail does not exist for negative number")
    elif n==0 or n==1:
        return  1
    else :
        return n*factorial(n-1)
n=int(input("enter your number:"))
print("my factorial =",factorial(n))

enter your number: 12

my factorial = 479001600

In [21]:
def fatorial(n):
    factorial=1
    for i in range(n,n+1):
     factorial*=i
n=int(input("enter your number"))
print("my factorial",factorial(n))

enter your number 12

my factorial 479001600

In [28]:
n=int(input("enter your number"))
if n<=1:
    print("not a prime number")
else  :
    for i in range (2,n):
       if n%i==0:
           print("not a prime number")
           break
    else:
      print("its a prime number")

enter your number 3

its a prime number

In [34]:
#1 t0 50 
#even numbers and skip multiple of 2
for i in range(0,51):
    if i %2==0:
        if i%10==10:
            continue
        if i>40:
            break
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [36]:
#palindrome
n=input("enter your num/word:")
n=n.lower()
if n== n[::-1]:
    print("a palindrome")
else:
    print("not a palindrome")

enter your num/word: kanak

a palindrome

In [38]:
#armstrong
x=int(input("enter your number"))
temp=x
sum=0
n=len(str(x))
while temp>0:
    digit=temp%10
    sum+=digit**n
    temp//=10
if x==sum:
    print("armstrong")
else:
    print("not an armstrong")

enter your number 371

armstrong

In [40]:
x=int(input("enter your number"))
a,b=0,1
for i in range(x):
    print(a,end=" ")
    a,b=b,a+b

enter your number 5

0 1 1 2 3

In [41]:
def factorial(n):
    if n<0:
        return("not factorial for nrgative numbers")
    elif n==1 or n==0:
        return 1
    else:
        return n*factorial(n-1)

In [43]:
n=5
factorial(n)

120

In [44]:
x=int(input("enter your number"))
if n<1:
  print("its not a prime number")
else:
    for i in range(2,n):
        if n%i==0:
            print("not a prime number")
            break
    else:
        print("a prime number")

enter your number 2

a prime number